<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Eagle Eye</title>

    <meta name="description" content="Home Wi-Fi Monitoring">
    <meta name="author" content="Eagle Eye Team">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>


	<script src="js\jquery-1.12.0.min.js"></script>
	<script src="js\bootstrap.min.js"></script>
	<script src="js\Chart.bundle.min.js"></script>
	<script src="js\calls.js"></script>


</head>

<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="navbar-header">
		 
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
		</button> 

		<a class="navbar-brand"><img src="/img/favicon.png" style="height:100%; display:inline;"></img> Eagle Eye</a>
		<!-- 🦅 -->
	</div>
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li class="active">
				<a href="#">Dashboard</a>
			</li>
			<li class="dropdown">
				 <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<strong class="caret"></strong></a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">Help</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
			</li>
		</ul>
		<form class="navbar-form navbar-right" style="padding-right: 3%" role="search">
			<div class="form-group">
				<select class="form-control" id="setup_ap">
					<option value="" disabled selected hidden>Select Access Point</option>
				</select>
				<input id="setup_pass" type="password" class="form-control" placeholder="Password"/>
			</div> 
			<button id="setup_btn" type="button" onclick="start_monitor();" class="btn btn-default">
				Monitor
			</button>
		</form>
	</div>
	
</nav>



	<!-- Pay attention to width/height params. its the only way to force chart sizing -->

	<!-- AP Help-->
	<div id="AP_help" class="container" style="display:block">
		<div class="alert alert-info fade in">
			<!-- <a href="#" class="close" data-dismiss="alert">&times;</a> -->
			<strong>To start monitoring</strong> please input Access Point name and Password above, and click on "Monitor" to begin wireless network monitoring.
		</div>
	</div>

	<!-- Main Overall Network Info Section -->
	<div id="total_container" class="container" style="display:none">
		<div class="row-md-12" style="border-radius:25px">
			<div class="col-sm-4">
				<table class="table" style="background-color:#f1f1f1">
					<tr><th colspan="2" style="text-align: center;">Basic Information</th></tr>
					<tr><th>AP:</th><td id="ap_name">Pretty Fly For a WiFi</td></tr>
					<tr><th>Est. Usage:</th><td id="ap_usage">20%</td></tr>
					<tr><th>MAC:</th><td id="ap_mac">FF:32:2A:23:44</td></tr>
					<tr><th>Channel:</th><td id="ap_channel">11</td></tr>
				</table>
			</div>
			<div class="col-sm-7">
				<div>
					<canvas id="mainChart"></canvas>
				</div>
			</div>
		</div>


	</div>
		<!-- Client Header -->
	<div id="client_header" class="container" style="display:none">
		<div class="row">
		<hr>
			
				<h3 align="center">
					Clients
				</h3>
			
		<hr>
		</div>
	</div>
		
	<div class="container">
		<!-- Specific Client Info Section -->
		<div id="client_list" style="display:block">
			<!-- This is the template that the add_client function will copy/paste for each new client [style="display: none"] -->
			<div id="template_client_infobox" style="display:none">
				<hr>
				<div id="XXXX_clientbox" style="background-color:#f6f6f6; border-radius:25px" class="row">
					<div class="col-sm-4">
						<table class="table" style="background-color:#f6f6f6">
							<tr><th colspan="2" style="text-align: center;" id="XXXX_name">XXNAMEXX</th></tr>
							<tr><th>MAC:</th><td id="XXXX_mac">XXMACXX</td></tr>
							<tr><th>IP:</th><td id="XXXX_ip">XXIPXX</td></tr>
							<tr><th>OS:</th><td id="XXXX_os">XXOSXX</td></tr>
							<tr><th>Upload Usage:</th><td id="XXXX_UPusage">XXUSAGEXX</td></tr>
							<tr><th>Download Usage:</th><td id="XXXX_DOWNusage">XXUSAGEXX</td></tr>
							<tr><th>Password Leaks:</th><td><a id="XXXX_leaks" href="../leaks/XXXX" onclick="window.open(this.href,'targetWindow','toolbar=no, location=no, status=no, menubar=no,scrollbars=yes,resizable=yes,width=550px,height=250px'); return false;">None</a></td></tr>
						</table>				
					</div>
					<div class="col-sm-6">
						<div>
							<canvas id="XXXX_chart"></canvas>
						</div>
					</div>
					<div class="col-sm-2">
						<label align="center">Graphs</label>
						<button id="XXXX_toggle_0" class="btn btn-default" onclick="switch_graph('XXXX',0)" style="width:100%" disabled>Usage</button>
						<button id="XXXX_toggle_1" class="btn btn-default" onclick="switch_graph('XXXX',1)" style="width:100%">Pkt. Type</button>
						<button id="XXXX_toggle_2" class="btn btn-default" onclick="switch_graph('XXXX',2)" style="width:100%">Ports</button>
					</div>
				</div>
			</div>
		</div>

	</div>


</body>



</html>



<script>

//Example of how to create a data chart (EVENTUALLY MOVE THIS TO SEPARATE .js FILE)





// var myLineChart = new Chart("myChart", {
//     type: 'line',
//     data: chartdata,
//     options: {
//         scales: {
//             xAxes: [{
//                 type: 'linear',
//                 position: 'bottom'
//             }]
//         },
//         animation: false
//     }
// });

// var myLineChart = new Chart("myChart2", {
//     type: 'line',
//     data: data,
//     options: options
// });

// data = {
// 	datasets: [{
// 	        label: 'Scatter Dataset',
// 	        data: [{
// 	            x: -10,
// 	            y: 0
// 	        }, {
// 	            x: 0,
// 	            y: 5
// 	        }, {
// 	            x: 10,
// 	            y: 5
// 	        }]
// 	    }]
// }

// var myLineChart = new Chart("myChart", {
//     type: 'line',
//     data: data,
//     options: options,
//     responsive: true,
//     maintainAspectRatio: false
// });

//function

</script>